/app1/.phpunit.cache
/app1/node_modules
/app1/public/build
/app1/public/hot
/app1/public/storage
/app1/storage/*.key
/app1/vendor 

/app2/.phpunit.cache
/app2/node_modules
/app2/public/build
/app2/public/hot
/app2/public/storage
/app2/storage/*.key
/app2/vendor 


/app1/.env
/app1/.env.backup
/app1/.env.production
/app1/.phpunit.result.cache
/app1/Homestead.json
/app1/Homestead.yaml
/app1/auth.json
/app1/npm-debug.log
/app1/yarn-error.log

/app2/.env
/app2/.env.backup
/app2/.env.production
/app2/.phpunit.result.cache
/app2/Homestead.json
/app2/Homestead.yaml
/app2/auth.json
/app2/npm-debug.log
/app2/yarn-error.log

/app1/.fleet
/app1/.idea
/app1/.vscode

/app2/.fleet
/app2/.idea
/app2/.vscode
/mysql-volumes
